#{"catalan" "burmese" "luo" "lithuanian" "gusii" "taiwanese" "finnish" "oriya" "uzbek" "sinhalese" "mende" "mandinka" "hindi-urdu" "icelandic" "telugu" "yoruba" "mortlockese" "vietnamese" "italian" "hungarian" "nepali" "tibetan" "yupik" "belarusan" "estonian" "ndebele" "quechua" "gujarati" "georgian" "krio" "indonesian" "portuguese" "kannada" "javanese" "spanish" "yiddish" "bambara" "irish" "kurdish" "kiswahili" "latvian" "esperanto" "somali" "konkani" "khmer" "serbian" "swiss-german" "tagalog" "wolof" "ewe" "ebira" "bulgarian" "german" "agni" "farsi" "tok-pisin" "pohnpeian" "uyghur" "korean" "dari" "dutch" "cantonese" "basque" "tswana" "english" "taishan" "french" "bengali" "zulu" "frisian"}
